body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background: url('/img/popcornnav.jpg') no-repeat;
  background-size: 10%;
  background-position: left;
  font-weight: 600;
 }

 nav img {
   width: 10%;
   height: 100%;
   float: right;
 }

 .nav-style a {
   color: #ffffff;
   transition: color .3s ease-in-out; 
 }

 /* #title-search {
   background: url('/img/startrek.jpg') repeat;
   
   background-position: center;
 } */

 .nav-style a:hover {
   color: #fdd835; 
 }

 #title-search{
   padding-top: 25px;
 }

.slider .slides li img {
  background-size: cover;
  background-position: center;
}

.slider .indicators .indicator-item.active {
  background-color: red;
}

 .img-style {
   width: 200px;
   height: 280px;
 }
 
 footer {
   padding-top: 1px;
 }

 footer a {
   color: #69f0ae;
 }

 footer img {
   width: 70px;
 }



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
