body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-weight: 500;
 }

nav img {
   width: 10%;
   float: right;
 }

.nav-style a {
   color: #ffffff;
   transition: color .3s ease-in-out; 
 }

.nav-style a:hover {
   color: #fdd835; 
 }

.sidenav-overlay {
   z-index: 996;
 }

 #title-search {
   padding-top: 25px;
 }

.slider .slides li img {
  background-size: cover;
  background-position: center;
}

.slider .indicators .indicator-item.active {
  background-color: red;
}

.img-style {
   width: 200px;
   height: 280px;
 }

 .pointer {
   cursor: pointer;
 }
 
 footer {
   padding-top: 1px;
 }

 footer a {
   color: #69f0ae;
 }

 footer img {
   width: 70px;
 }

/* Change the height of the parallax container */
@media only screen and (max-width: 600px) {
  .parallax-container {
    height: 200px;
  }
}
